# lambda 매개변수 : 표현식

In [ ]:
(lambda x,y: x + y)(10, 20)

30

# Map(함수, 리스트)
함수와 리스트를 인자로 받는다.

In [ ]:
list(map(lambda x: x ** 2, range(5)))

[0, 1, 4, 9, 16]

# filter(함수, 리스트)

In [ ]:
list(filter(lambda x: x < 5, range(10)))

[0, 1, 2, 3, 4]

# sort()와 sorted()로 정렬하기
sort()는 리스트만을 위한 메소드 : 리스트를 정렬된 상태로 변경한다.

sorted() 함수는 어떤 이터러블 객체도 받을 수 있다, 이터러블 객체로부터 정렬된 리스트를 생성한다.

In [ ]:
myList = [4, 2, 3, 5, 1]
myList.sort()
print('\n배열 sort():',myList)

students = [
        ('홍길동', 3.9, 2016303),
        ('김철수', 3.0, 2016302),
        ('최자영', 4.3, 2016301),
]
sorted_students = sorted(students, key=lambda student: student[2])
print('\ntuple 배열 sorted():', sorted_students)

#내림차순으로 정렬
sorted_students2 = sorted(students, key=lambda student: student[2], reverse=True)
print('\ntuple 배열 내림차순으로 정렬:',sorted_students2)

배열 sort(): [1, 2, 3, 4, 5]

tuple 배열 sorted(): [('최자영', 4.3, 2016301), ('김철수', 3.0, 2016302), ('홍길동', 3.9, 2016303)]

tuple 배열 내림차순으로 정렬: [('홍길동', 3.9, 2016303), ('김철수', 3.0, 2016302), ('최자영', 4.3, 2016301)]

# Dictionary Sort Lambda

In [ ]:
#list 일 경우
new_dict = sorted(students, key=lambda x:x[1], reverse=True)
print('list:',new_dict)
      
#dictionary 일 경우 
score_dict = {
    'sam':23,
    'john':30,
    'mathew':29,
    'riti':27,
    'aadi':31,
    'sachin':28
}
new_dict = sorted(score_dict.items(), key=lambda x:x[1], reverse=True)
print('dictionary:',new_dict)

new_dict = sorted(score_dict, key=lambda x:x[1], reverse=True)
print('dictionary:',new_dict)

# 점수가 높은 3명만 뽑고 싶다면
new_dict = sorted(score_dict, key=lambda x:x[1], reverse=True)[:3]
print(new_dict)

list: [('최자영', 4.3, 2016301), ('홍길동', 3.9, 2016303), ('김철수', 3.0, 2016302)]
dictionary: [('aadi', 31), ('john', 30), ('mathew', 29), ('sachin', 28), ('riti', 27), ('sam', 23)]
dictionary: ['john', 'riti', 'sam', 'mathew', 'aadi', 'sachin']
['john', 'riti', 'sam']

# Max Value
max(iterable, *[, default=obj, key=func]) -> value

In [ ]:
stats = {'a':1000, 'b':3000, 'c': 100, 'd':3000}
max_key = max(stats, key=lambda k: stats[k])

print(max_key)

b

# Min Value
min(iterable, *[, default=obj, key=func]) -> value

In [ ]:
min_key = min(stats, key=lambda k: stats[k])

print(min_key)

c