# int to hexa string print

In [ ]:
status = 23
field = 25
print('RX:0x{:04X}'.format(status))
print('RX:0x{0:04X}'.format(status))
print('RX:0x{0:04X}, 0x{1:04X}'.format(status, field))

print( '{0:.2f}'.format(1 / 3.0) )     # Parameters hardcoded 
print( '{0:.{1}f}'.format(1 / 3.0, 4) )# Take value from arguments 

print( '{0:X}, {1:o}, {2:b}'.format(255, 255, 255) )      # Hex, octal, binary

print( 'That is {0} {1} code!'.format(1, 'general') )

RX:0x0017
RX:0x0017
RX:0x0017, 0x0019
0.33
0.3333
FF, 377, 11111111
That is 1 general code!

# f string dictionary print

In [4]:
aa = dict()
aa['RESP'] = '"KEY1":1'

# {} 포함 프린트
print( f'{{{aa["RESP"]}}}')

# 내용만 프린트
print( f'{aa["RESP"]}')

aaaaa=f'{{{"aa"}}}'
print (aaaaa)

onoff="ON"
devid =1
siteid=9
groupval=1
tdata = f'{{"authentication":{onoff},"devieid":+{str(devid)},"siteid":+{str(siteid)},"group":{str(groupval)}}}'
print(tdata)

{"KEY1":1}
"KEY1":1
{aa}
{"authentication":ON,"devieid":+1,"siteid":+9,"group":1}

# f- string 글자 정렬 표현방법

예를들어, 글자 수 10개일 때

왼쪽 정렬:{문자:10s}
가운데 정렬:{정수:^10d}
오른쪽 정렬:{실수:>10f}

In [ ]:
names = ['보라', '영희', '철수']
nums = [15, 20, 49]
for name, age in zip(names, nums) :
  print(f'{name:10s}의 나이는 {age:^10d}세 이다.') # 왼쪽정렬, 가운데정렬


for x in range(1,10,2):
  print(f'{x:>10d} x 2 = {x*2} 입니다.') # 오른쪽정렬, 기본

보라        의 나이는     15    세 이다.
영희        의 나이는     20    세 이다.
철수        의 나이는     49    세 이다.
         1 x 2 = 2 입니다.
         3 x 2 = 6 입니다.
         5 x 2 = 10 입니다.
         7 x 2 = 14 입니다.
         9 x 2 = 18 입니다.

# 소수점 자리수

In [ ]:
number = 2.341
print(f'{number:.2f}')

2.34

# HEXA Value

In [2]:
number = 100
print(f'{number:04x}')
print(f'{number:04X}')

0064
0064